<div class="padding-top px-5">
    <div class="row my-5 px-5">
        <div class="col-6">
            <div class="card background-img mx-2">
                <img class="card-img" src="https://www.artic.edu/iiif/2/{{artwork.image_id}}/full/843,/0/default.jpg"
                    alt="{{artwork.title}}">
            </div>
        </div>
        <div class="col-6 text-center">
            <h3 class="pt-5">Answer correctly to get free museum tickets</h3>
            <hr><br>
            <p>bla bla bla??</p>
        </div>
    </div>
</div>

{{> footer}}