<div class="container padding-top">
    <div class="row">
        {{#each artworks}}
        {{> artworkCard this}}
        {{/each}}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{#paginate pagination type="previous"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link" href="{{n}}">Prev</a></li>
        {{/paginate}}

        {{#paginate pagination type="middle" limit="5"}}
        <li {{#if active}}class="page-item active" {{/if}}><a class="page-link" href="{{n}}">{{n}}</a></li>
        {{/paginate}}

        {{#paginate pagination type="next"}}
        <li {{#if disabled}}class="page-item disabled" {{/if}}><a class="page-link" href="{{n}}">Next</a></li>
        {{/paginate}}
    </ul>
</nav>
</div>