<footer>

    <div class="row__footer wrapper__footer">

        <div class="column__footer left  text-center">
            <h6>PUBLIC OPENING HOURS</h6>
            <br>
            <p>Mondays from 11 a.m. to 5 p.m.</p>
            <p>Tuesday to thursday closed</p>
            <p>Friday to sunday from 11 a.m. to 5 p.m.</p>
            <br>
            <div class="icons">
                <a href="https://es-la.facebook.com/artic/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/artinstitutechi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                        class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/the-art-institute-of-chicago/"><i
                        class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/artinstitutechi/?hl=es"><i class="fa fa-instagram"></i></a>
            </div>
        </div>

        <div class="column__footer middle" id="contact">
            <h6 class="text-center">CONTACT</h6>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Michigan Avenue Entrance</span>111 South Michigan Avenue
                    Chicago, IL 60603</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <a href="tel:(312) 499-4111"> (312) 499-4111</a>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:ticketing@artic.edu">ticketing@artic.edu</a></p>
            </div>
        </div>

        <div class="column__footer right text-center">
            <img style="height:115px;width: 115px;" src="/images/chicago-logo.png" alt="logo">
            <p class="menu">
                <a href="/"> Home</a> |
                <a href="/artworks/1"> Artworks</a> |
                <a href="/artworks/details/daily"> Daily</a> |
                <a href="/user/community"> Community</a>
            </p>
            <p class="name">IronBros and Endworld Spitfire Company &copy; 2022</p>
        </div>
    </div>
</footer>