<footer>
    <div class="text-center footer-title">
        <h5>Art Institute of Chicago</h5>
    </div>
    <iframe class="map-frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11461.18689958448!2d-87.62181239763302!3d41.879352149640134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca3e2d94695%3A0x4829f3cc9ca2d0de!2sInstituto%20de%20Arte%20de%20Chicago!5e0!3m2!1ses!2ses!4v1669165939819!5m2!1ses!2ses"
        height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="row__footer wrapper__footer">
        <!-- Left Column Starts Here -->
        <div class="column__footer left  text-center">
            <h6>PUBLIC OPENING HOURS</h6>
            <br>
            <p>Mondays from 11 a.m. to 5 p.m.</p>
            <p>Tuesday to thursday closed</p>
            <p>Friday to sunday from 11 a.m. to 5 p.m.</p>
            <br>
            <div class="icons">
                <a href="https://es-la.facebook.com/artic/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/artinstitutechi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                        class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/the-art-institute-of-chicago/"><i
                        class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/artinstitutechi/?hl=es"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <!-- Left Column Ends Here -->

        <!-- Middle Column Starts Here -->
        <div class="column__footer middle">
            <h6 class="text-center">CONTACT</h6>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Michigan Avenue Entrance</span>111 South Michigan Avenue
                    Chicago, IL 60603</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> (312) 499-4111</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">ticketing@artic.edu</a></p>
            </div>
        </div>
        <!-- Middle Column Ends Here -->

        <!-- Right Column Starts Here -->
        <div class="column__footer right text-center">
            <img style="height:150px;width: 150px;" src="/images/chicago-logo.png" alt="logo">
            <p class="menu">
                <a href="#"> Home</a> |
                <a href="#"> Artworks</a> |
                <a href="#"> Daily</a> |
                <a href="#"> Community</a>
            </p>
            <p class="name"> Arts Institute of Chicago &copy; 2018</p>
        </div>
        <!-- Right Column Ends Here -->
    </div>
</footer>