<header>
    <nav id="navbar" class="navbar navbar-expand-lg bg-transparent px-5 fixed-top">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/chicago-arts.psd.png" alt="Logo" width="85" height="85"
                class="d-inline-block align-text-top">
        </a> <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav nav-bar-width">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/artworks/1" class="nav-item nav-link">Artworks</a>
                <a href="/artworks/details/daily" class="nav-item nav-link">Daily</a>
                <a href="/user/community" class="nav-item nav-link">Community</a>
                <a href="#" class="nav-item nav-link">Virtual</a>
                <a href="/#contact" class="nav-item nav-link">Contact</a>
            </div>

            <div class="navbar-nav ml-auto">
                <form class="navbar-form form-inline search-form" action="/artworks/search" method="post">
                    <div class="input-group search-box">
                        <input type="text" id="search" class="form-control" name="searchArtwork"
                            placeholder="Search here...">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="material-icons">&#xE8B6;</i></span>
                        </div>
                    </div>
                </form>
            </div>
            {{#if userNav}}
            <div class="navbar-nav action-buttons ml-auto">
                <button class="navbar-toggler " type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mb-2" id="navbar-list-4">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{currentUser.imageUrl}}" width="60" height="60" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu navbar-profile" aria-labelledby="navbarDropdownMenuLink">
                                <p>{{currentUser.username}}</p>
                                <hr class="line">
                                <a class="dropdown-item" href="/user/profile/{{currentUser._id}}">Profile</a>
                                <a class="dropdown-item" href="/user/edit-profile">Configuration</a>
                                <a class="dropdown-item" href="/auth/logout">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {{else}}
            <div class="navbar-nav action-buttons ml-auto">
                <a href="/auth/login" class="nav-item nav-link dropdown-toggle mr-3">Login</a>
            </div>
            {{/if}}
        </div>
    </nav>

</header>