<div class="hero py-5 text-center text-black margin-top">
    <div class="container py-5">
        <div class="row py-5">
            <div class="mx-auto col-lg-10">
                <h1 class="display-4 mb-4 ">This is a beautiful Bootstrap 4 Navbar with Social Media Icons </h1>
                <p class="lead mb-5">There is nothing more rare, nor more beautiful, than a woman being unapologetically
                    herself; comfortable in her perfect imperfection. To me, that is the true essence of beauty. </p> <a
                    href="#" class="btn btn-lg btn-outline-light mx-1 my-auto">Take me there</a>
            </div>
        </div>
    </div>
</div>