<main>
    <div class="hero text-center text-black padding-bottom">
        <video autoplay muted loop id="myVideo" style="width: 100vw">
            <source
                src="https://aic-web-cms-uploads.s3.us-east-2.amazonaws.com/nullc9b4d27f-8153-4f3a-ab7f-70f58c3fd6c0/VisitUs_VideoHeader_20_07_151.mp4"
                type="video/mp4">
        </video>
        {{!-- <div class="container py-5">
            <div class="row py-5">
                <div class="mx-auto col-lg-10">
                </div>
            </div>
        </div> --}}
    </div>
</main>

{{> footer}}