<div class="container padding-top">
    <h1>Profile</h1>
    <div class="row">
        <div class="col-lg-3 col-mb-12">
            <p>Username: {{username}}</p>
            <p>Email: {{email}}</p>

        </div>
    </div>
</div>