* {
  text-transform: capitalize;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.link-to-details {
  color: black;
  text-decoration: none;
}

.link-to-details:hover {
  color: black;
  text-decoration: none;
}

.link-to-profile {
  color: black
}

.link-to-profile:hover {
  text-decoration: none;
  color: black;
}

.nav-link {
  color: black;
}

.hero {
  height: 119.7vh;
  /* background-image: url(/images/banner.jpg);
  background-size: 100% 100%; */
}

.event {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  padding: 80px 80px;
}

.event-overlay {
  position: absolute;
  top: -1px;
  left: 0px;
  height: 101%;
  width: 100.5%;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.3);
}



.event-info {
  position: relative;
  margin: 200px 0 0 100px;
  top: 20%;
  color: white;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.2);
}

.event-info h6 {
  color: #ccc;
}

.event-info:hover a {
  transform: scale(1.25);
}

.event-info :nth-child(3) {
  font-size: 17px;
  color: #ccc;
  margin-bottom: 30px;
}

.ticket {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 1px solid;
  padding: 0.75em;
  border-radius: 5px;
  position: relative;
  margin-left: 32px;
}

.ticket img {
  width: 45px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.ticket:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.2);
}

.padding-top {
  padding-top: 99px;
}

.form-control {
  box-shadow: none;
  border-radius: 4px;
  font-size: .8rem
}

.navbar {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
  height: 102px;
  width: 100vw;
  z-index: 100;
  /* box-shadow: 8px 4px 4px #b4b7c1; */
}

.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-index {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.nav-link img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand {
  padding-left: 0;
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 50px;
}

.navbar .navbar-brand b {
  color: #5c6ac4;
}

.navbar .form-inline {
  display: inline-block;
}

.navbar .navbar-nav {
  position: relative;
}

.navbar a,
.navbar a:active {
  color: black;
  font-size: 17px;
  background: transparent;

}

#search {
  background-color: transparent;
  border-color: black;
  color: black;
}

#search::placeholder {
  color: black;
}

.search-form {
  padding: 14px 0 0 40rem;
}

.search-box {
  position: relative;
}

.search-box input {
  padding-right: 35px;
  border-color: #dfe3e8;
  border-radius: 4px !important;
  box-shadow: none
}

.search-box .input-group-text {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.search-box i {
  color: black;
  font-size: 19px;
}

.navbar .btn-primary,
.navbar .btn-primary:active {
  color: #fff;
  background: #5c6ac4 !important;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 4px;
  vertical-align: middle;
  border: none;
  min-width: 120px;
  margin: 2px 0;
}

.navbar .btn-primary:hover,
.navbar .btn-primary:focus {
  color: #fff;
  background: #5765c1 !important;
}

.navbar .action-buttons .dropdown-toggle::after {
  display: none;
}

.search-box .btn span {
  transform: scale(0.9);
  display: inline-block;
}

.dropdown-menu {
  top: 45px;
  left: -110px;
  background-color: rgb(255, 255, 255);
  min-width: 12rem;
}

.dropdown-item {
  font-weight: lighter;
}

.navbar-profile p {
  margin-bottom: 0;
  display: block;
  width: 100%;
  padding: 0.5rem 0rem;
  clear: both;
  color: black;
  text-align: center;
  font-size: 20px;
}

hr.line {
  border: 1px solid black;
  margin: 0 .5rem .5rem .5rem;

}

.card {
  background-color: rgba(237, 239, 242, 0.4)
}

.card-img-overlay {
  top: 100px;
  padding: 0 0 1.5em 2em;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0);
}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}


.background-img img {
  padding: 1em;
}

.white-navbar {
  height: 102px;
  width: 100vw;
  z-index: 1;
  background-color: white;
  position: fixed;
}

.display-none {
  display: none
}

.favourite-form button img {
  transition: transform .3s;
  width: 60px;
  padding: .8em;
}

.favourite-form button:hover {
  background-color: rgba(0, 0, 0, 0);
}

.favourite-form button:hover img {
  transform: scale(1.5);
}

.button-tag {
  display: block;
  border: 1px solid #9d9d9d;
  color: #a71c15;
  text-align: center;
  padding: .5em;
  margin: 1em 0;
  text-decoration: none;
}

.granatelink:hover {
  color: #a71c15;
}

.grey {
  color: #9d9d9d
}

.granate {
  color: #a71c15
}

.zoomImage {
  transform: scale(0.5);
  padding-top: 0px
}

.zoom-button {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.zoom-images {
  width: 50px;
  height: 50px;
  padding: 13px !important;
}

.positionOverlay {
  top: 0;
}

/* Comment artwork */
.be-comment {
  overflow-y: auto;
  height: 200px;
}

.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  padding: 50px 70px;
  border: 1px solid #ffffff;
}

.comments-title {
  font-size: 16px;
  color: #262626;
  margin-bottom: 15px;
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
  position: absolute;
  top: 1px;
  left: 16px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  padding-top: 1.2em;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-input {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #7a8192;
  width: 100%;
  height: 50px;
  padding-left: 60px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
  resize: none;
}

.form-group .fl_icon .form-input {
  padding-left: 70px;
}

.form-group textarea.form-input {
  height: 150px;
  padding: 15px;
}

.form-input:focus {
  outline: none;
  color: #7a8192;
  box-shadow: 10px 5px 5px #b4b7c1;
}

form .form-block a {
  float: right;
  color: #7a8192;
  font-size: 14px
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.card-login {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 15px;
}

.hide {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

/* Profile */

.user-profile {
  padding-bottom: 30px;
}

.profile-info-left {
  position: relative;
}

.profile-info-left img.avatar {
  border: 2px solid #fff;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.profile-info-left .section {
  margin-top: 50px;
}

.profile-info-left .section h3 {
  font-size: 1.1em;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.profile-info-left ul.list-social>li {
  line-height: 2.3;
}

.card a:hover {
  text-decoration: none;
}

.nav li a {
  font-size: 14px;
}

.tab-pane .row .card {
  transition: transform .5s;
}

.tab-pane .row .card:hover {
  background-color: rgba(237, 239, 242, 0.8);
  transform: scale(1.05);
}

.shadow {
  border: 1px solid rgba(0, 0, 0, .125);
}

.favourite:hover {
  background-color: rgba(250, 250, 250, 0.6);
}

.following:hover {
  background-color: rgba(250, 250, 250, 0.6);
}

.favourite-delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favourite-delete img {
  width: 28px;
}

@media screen and (max-width: 768px) {
  .profile-info-right {
    position: relative;
    top: -70px;
  }
}

.user-follower,
.user-following {
  position: relative;
  margin-bottom: 40px;
}

.user-follower img,
.user-following img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
}

.user-follower a,
.user-following a {
  font-size: 1.1em;
  line-height: 1;
}

.user-follower .username,
.user-following .username {
  font-size: 0.9em;
  line-height: 1.5;
}

.user-follower .btn,
.user-following .btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 92px;
}

.btn-toggle-following {
  background-color: #7bae16;
  color: #fff;
}

.btn-toggle-following:hover {
  background-color: #ef2020;
  color: #fff;
}

.btn-toggle-following:hover span {
  display: none;
}

.btn-toggle-following:hover:after {
  content: 'Unfollow';
  display: inline;
}

.btn-toggle-following:hover i:before {
  content: '\f129';
}

/* FAVOURITES */
.favourite-form {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
}

/* COMMUNITY */
.btn-admin-container {
  display: flex;
  justify-content: center;
}

.btn-admin:nth-child(1) {
  margin-right: 10px;
}

.btn-admin {
  width: 40%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

/* Footer */

.column__footer {
  float: left;
  padding: 10px;
}

.wrapper__footer {
  color: #ffffff;
  background: rgba(26, 25, 25, 0.753);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px 30px 50px;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
}

/* Left Column Starts Here */
.left {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  padding-right: 20px;
  border-right: solid #fff 1px;
}

.left .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.left .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.left .icons a {
  display: inline-block;
  width: 40px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  padding-top: 7px;
}

/* Left Column Ends Here */

/* Middle Column Starts Here */
.middle {
  width: 30%;
  padding: 20px;
  padding-top: 25px;
}

.middle i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.middle i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.middle p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.middle p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.middle p a {
  color: #0099ff;
  text-decoration: none;
}

/* Middle Column Ends Here */

/* Right Column Starts Here */
.right {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  border-left: solid #fff 1px;
}

.right h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.right h2 span {
  color: #0099ff;
}

.right .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.right .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.right .menu a:hover {
  color: #0099ff;
}

.right .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Right Column Ends Here */

/* Clear floats after the columns */
.row__footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-title {
  padding: 1em 30em;
  background: rgba(8, 8, 8, 0.9);
  color: white;
}

.footer-title h5 {
  border-left: double 5px white;
  border-right: double 5px white;
}

.map-frame {
  width: 100vw;
}

/* Stack The Columns */
@media screen and (max-width: 600px) {
  .column__footer {
    width: 100%;
  }
}

/* .gradient-custom-3 {
  background: #84fab0;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
} */

/* .gradient-custom-4 {
  background: #84fab0;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
} */